.section-title{
    background-color:#2e2f42 ;
}

.page-title{
    font-size:56px;
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color:#ffffff;

   }

.button{
    background-color:#4D5AE5;
    font-family:"Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em ;
    color:#ffffff;
    cursor:pointer;
}
   

   .button:hover
   .button:focus{
    background-color:#404BBF ;
   }    