.section-title{
    background-color:#2e2f42 ;
}

.page-title{
    font-size:56px;
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color:#ffffff;

   }
.button-center{
    text-align: center  ;

}
.button{
    background-color:#4D5AE5;
    font-family:"Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em ;
    color:#ffffff;
    cursor:pointer;
    border:none;
    text-align: center  
}
   

   .button:hover
   .button:focus{
    background-color:#404BBF ;
   } 
   
.section-list{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;

}

.section-text{
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color:#434455;

}

